{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <body class="bg-light bg-gradient">
    <div class="container">
        <div class="card col-lg-12 col-md-12 m-5 p-5">
            <div class="container form">
                <div class="heading-text">
                    <a class="btn btn-outline-secondary" href="{% url 'profile' %}"><span>Назад</span></a>
                </div>
                <div class="heading-text pb-4">
                    <span>Редактировать профиль</span>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="col-12 justify-content-center">
                            <div class="alert alert-light alert-dismissible fade show animated animatedFadeInUp fadeInUp">
                                <span><b>{{ form.errors }}</b></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-control p-3">
                        {{ form }}
                    </div>
                    <button type="submit" class="col-lg-4 btn bg-gradient-info mt-3">Подтвердить</button>
                </form>

            </div>
        </div>
    </div>

    </body>

{% endblock content %}