{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {{ LANGUAGE_CODE|upper }} {% endblock title %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock extrastyle %}
{% block content %}

    <div class="container-fluid py-4">
        <div id="successMessage"></div>

        <!-- START -->
        <header class="pt-5 py-5 mb-5 animated animatedFadeInUp fadeInUp">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-sm-12 col-xxl-5">
                        <!-- Header text content-->
                        <div class="text-center text-xxl-start">
                            <div class="fs-3 fw-light text-muted">
                                {% translate 'Удобный способ конвертации медицинских данных из CBCT-сканеров Sirona GALAXIS/GALILEOS в стандартный формат DICOM.' %}
                            </div>
                            <h1 class="display-3 text-dark fw-bolder mb-5"><span
                                    class="text-dark d-inline"> GalileosPro</span></h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
                                   href="{% url 'upload research' %}"
                                   style="background: linear-gradient(to top right, #e24210, #e21b1d);">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-download p-1 rounded bg-gradient"
                                               style="font-size: 2.4rem; background-color: #ff274c"></i>
                                        </div>
                                        <div class="col-9">
                                            {% translate 'Загрузить исследование' %}
                                        </div>
                                    </div>
                                </a>
                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder"
                                   href="{% url 'how_it_works' %}">{% translate 'Как это работает' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7">
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                            <div class="profile bg-gradient-primary-to-secondary">
                                <img class="d-none d-sm-block d-md-block profile-img" src="{% static 'img/dentist.png' %}"
                                     alt="logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Уникальное решение -->
        <div class="container mt-5 px-5 animated animatedFadeInUp fadeInUp">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 class="display-3 text-dark fw-bolder mb-5">
                            <span class="text-dark text-gradient d-inline">{% blocktrans %}Уникальное решение{% endblocktrans %}</span></h2>
                        <p class="lead fw-light mb-4">
                            {% blocktrans %}Мы единственный сервис осуществляющий конвертацию данных с томографов Galileos{% endblocktrans %}
                        </p>
                        <p class="text-muted">
                            {% blocktrans %}Вам не придется долго ждать результата. Мы оптимизировали процесс конвертации, чтобы вы получили доступ к вашим данным максимально быстро.{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Что такое GalileosPro?  -->
        <div class="row pt-5 mt-5 mb-5 ">
            <div class="col-lg-12 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex flex-column h-100">
                                    <h2 class="font-weight-bolder">{% trans 'Что такое GalileosPro?' %}</h2>
                                    <p class="mb-2">{% blocktranslate %}GalileosPro - это мощный, но простой в использовании веб сервис, который позволяет конвертировать данные с вашего томографа SIRONA GALILEOS в DICOM-файлы. {% endblocktranslate %}</p>
                                    <p> {% blocktranslate %}DICOM (Digital Imaging and Communications in Medicine) -
                                        это стандарт для хранения и обмена медицинскими изображениями, используемый в
                                        больницах и клиниках по всему миру.{% endblocktranslate %}</p>
                                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto"
                                       href="{% url 'detailed_info' %}">
                                        {% blocktranslate %}Подробнее{% endblocktranslate %}
                                        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="rounded w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'img/sirona-scaner.jpg' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- STEPPER START -->
        {% include 'components/stepper.html' %}
        <!-- STEPPER END -->

        <!-- MEDIA START -->
        {% include 'components/media_carousel.html' %}
        <!-- MEDIA END -->

   </div>

{% endblock content %}

{% block scripts %}

    <script>
        // Получение параметров из URL
        const urlParams = new URLSearchParams(window.location.search);
        const success = urlParams.get('success');
        const message = urlParams.get('message');

        if (success === 'true') {
            // Отображение сообщения об успешной загрузке
            $('#successMessage').append('<div class="alert alert-success" role="alert">' + decodeURIComponent(message) + '</div>');
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.card-img-top').hover(function () {
                $(this).css('transform', 'scale(1.2)'); // Увеличиваем на 20%
            }, function () {
                $(this).css('transform', 'scale(1)'); // Возвращаем исходный размер
            });
        });
    </script>


    <script src="{% static 'js/core/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/core/owl.carousel.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#video-slider').owlCarousel({
                loop: true,
                margin: 20,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 3
                    }
                }
            });
        });
    </script>
{% endblock scripts %}
