{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block extrastyle %}
    <style>
        .steps {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            position: relative;
        }

        .step-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background-color: grey;
            transition: .4s;
        }

        .step-button[aria-expanded="true"] {
            width: 60px;
            height: 60px;
            background-color: orangered;
            color: #fff;
        }

        .done {
            background-color: orangered;
            color: #fff;
        }

        .step-item {
            z-index: 10;
            text-align: center;
        }

        #progress {
            -webkit-appearance: none;
            position: absolute;
            width: 95%;
            z-index: 5;
            height: 10px;
            margin-left: 18px;
            margin-bottom: 18px;
        }

        /* to customize progress bar */
        #progress::-webkit-progress-value {
            background-color: orangered;
            transition: 1s ease;
        }

        #progress::-webkit-progress-bar {
            background-color: grey;

        }

    </style>

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

{% endblock extrastyle %}
{% block content %}

    <div class="container-fluid py-4">

        <!-- START -->
        <header class="pt-5 py-5 mb-5 animated animatedFadeInUp fadeInUp">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                        <!-- Header text content-->
                        <div class="text-center text-xxl-start">
                            <div class="fs-3 fw-light text-muted">
                                {% translate 'Удобный способ конвертации медицинских данных из CBCT-сканеров Sirona GALAXIS/GALILEOS в стандартный формат DICOM.' %}
                            </div>
                            <h1 class="display-3 text-dark fw-bolder mb-5"><span
                                    class="text-dark d-inline"> GalileosPro</span></h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
                                   href="{% url 'upload research' %}"
                                   style="background: linear-gradient(to top right, #e24210, #e21b1d);">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-download p-1 rounded bg-gradient"
                                               style="font-size: 2.4rem; background-color: #ff274c"></i>
                                        </div>
                                        <div class="col-9">
                                            {% translate 'Загрузить исследование' %}
                                        </div>
                                    </div>
                                </a>
                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder"
                                   href="{% url 'how_it_works' %}">{% translate 'Как это работает' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7">
                        <!-- Header profile picture-->
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                            <div class="profile bg-gradient-primary-to-secondary">
                                <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                                <!-- Watch a tutorial on how to do this on YouTube (link)-->
                                <img class="profile-img" src="{{ STATIC_URL }}img/dentist.png" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--Что такое easyDICOM?  -->
        <div class="row pt-5 mt-5 mb-5 ">
            <div class="col-lg-12 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex flex-column h-100">
                                    <h1 class="font-weight-bolder">{% trans 'Что такое easyGalileos?' %}</h1>
                                    <p class="mb-2">{% blocktranslate %}EasyDICOM - это мощный, но простой в
                                        использовании веб сервис,
                                        который позволяет конвертировать
                                        данные с вашего томографа SIRONA GALILEOS в
                                        DICOM-файлы. {% endblocktranslate %}</p>
                                    <p> {% blocktranslate %}DICOM (Digital Imaging and Communications in Medicine) -
                                        это стандарт для хранения и обмена медицинскими изображениями, используемый в
                                        больницах и клиниках по всему миру.{% endblocktranslate %}</p>
                                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto"
                                       href="{% url 'detailed_info' %}">
                                        {% blocktranslate %}Подробнее{% endblocktranslate %}
                                        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                    <img class="rounded w-100 position-relative z-index-2 pt-4"
                                         src="{% static 'img/sirona-scaner.jpg' %}" alt="rocket">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--STEPPER -->


        <div class="container pt-5 mt-5 mb-5 ">
            <h1 class="mt-5 mb-5">{% blocktranslate %}Три простых шага для работы{% endblocktranslate %}</h1>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button bg-gradient-warning opacity-6" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Шаг 1
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card-body">
                                <p><i class="fa fa-file-zipper h4"></i> {% blocktranslate %}Создайте архив (zip, rar) с
                                    вашим исследованием.{% endblocktranslate %}</p>
                                <p> {% blocktranslate %}Вот одни из самых популярных бесплатных программ для работы с
                                    архивами{% endblocktranslate %}</p>
                                <div class="row">
                                    <div class="col-lg-4">
                                        {% blocktranslate %}Для Windows:{% endblocktranslate %}
                                        <ul>
                                            <li><a href="https://www.7-zip.org/a/7z2408-x64.exe">7-ZIP</a></li>
                                            <li><a href="https://www.win-rar.com/predownload.html?&L=4">WinRAR</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        {% blocktranslate %}Для Mac OS:{% endblocktranslate %}
                                        <ul>
                                            <li>
                                                <a href="https://apps.apple.com/ru/app/unzip-one-rar-zip-extractor/id1127253508?mt=12">ZIP/RAR</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        {% blocktranslate %}Для Linux:{% endblocktranslate %}
                                        <ul>
                                            <li><a href="https://cdn.7zip-arhive.ru/7z2201-linux-x64.tar.xz">7-ZIP</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button bg-gradient-warning opacity-6 collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Шаг 2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card-body">
                                <a href="{% url 'upload research' %}"><i class="fa fa-cloud-download h4"></i>
                                    {% blocktranslate %}Загрузите архив в наш сервис{% endblocktranslate %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button bg-gradient-warning opacity-6 collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Шаг 3
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>{% blocktranslate %}Дождитесь результата и получите архив с конвертированным исследованием{% endblocktranslate %}</p>
                            <p>{% blocktranslate %}Архив с исследованием будет доступен в личном кабинете в течение суток{% endblocktranslate %}</p>
                            <p>{% blocktranslate %}Также архив можно скачать из cloud.mail, ссылка на облако придёт на указанную вами при регистрации почту{% endblocktranslate %}</p>
                            <p><i class="fa fa-clock"></i> {% blocktranslate %}Среднее время обработки 2 минуты{% endblocktranslate %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--YOUTUBE START-->


        <div class="container mt-5">
            <h2 class="text-center mb-4">{% blocktranslate %}Наши видео на YouTube{% endblocktranslate %}</h2>

            <div class="owl-carousel owl-theme " id="video-slider">

                <div class="card">
                    <iframe width="240" height="180" src="" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">{% blocktranslate %}Название видео 1{% endblocktranslate %}</h5>
                        <p class="card-text">{% blocktranslate %}Краткое описание видео 1.{% endblocktranslate %}</p>
                        <a href="#" class="btn btn-primary">{% blocktranslate %}Узнать больше{% endblocktranslate %}</a>
                    </div>
                </div>

                <div class="card">
                    <iframe width="240" height="180" src="" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">{% blocktranslate %}Название видео 2{% endblocktranslate %}</h5>
                        <p class="card-text">{% blocktranslate %}Краткое описание видео 2.{% endblocktranslate %}</p>
                        <a href="#" class="btn btn-primary">{% blocktranslate %}Узнать больше{% endblocktranslate %}</a>
                    </div>
                </div>

                <div class="card">
                    <iframe width="240" height="180" src="" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">{% blocktranslate %}Название видео 3{% endblocktranslate %}</h5>
                        <p class="card-text">{% blocktranslate %}Краткое описание видео 3.{% endblocktranslate %}</p>
                        <a href="#" class="btn btn-primary">{% blocktranslate %}Узнать больше{% endblocktranslate %}</a>
                    </div>
                </div>

                <div class="card">
                    <iframe width="240" height="180" src="" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">{% blocktranslate %}Название видео 4{% endblocktranslate %}</h5>
                        <p class="card-text">{% blocktranslate %}Краткое описание видео 4.{% endblocktranslate %}</p>
                        <a href="#" class="btn btn-primary">{% blocktranslate %}Узнать больше{% endblocktranslate %}</a>
                    </div>
                </div>
            </div>
        </div>


        <!--YOUTUBE END-->

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}
    <!-- Stepper JavaScript -->
    <script>
        const stepButtons = document.querySelectorAll('.step-button');
        const progress = document.querySelector('#progress');

        Array.from(stepButtons).forEach((button, index) => {
            button.addEventListener('click', () => {
                progress.setAttribute('value', index * 100 / (stepButtons.length - 1));//there are 3 buttons. 2 spaces.

                stepButtons.forEach((item, secindex) => {
                    if (index > secindex) {
                        item.classList.add('done');
                    }
                    if (index < secindex) {
                        item.classList.remove('done');
                    }
                })
            })
        })
    </script>

    <script src="{% static 'js/core/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/core/owl.carousel.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#video-slider').owlCarousel({
                loop: true,
                margin: 20,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 3
                    }
                }
            });
        });
    </script>
{% endblock scripts %}
