{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Конвертер{% endblock title %}
{% block extrastyle %}
    <style>
        .steps {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            position: relative;
        }

        .step-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background-color: grey;
            transition: .4s;
        }

        .step-button[aria-expanded="true"] {
            width: 60px;
            height: 60px;
            background-color: orangered;
            color: #fff;
        }

        .done {
            background-color: orangered;
            color: #fff;
        }

        .step-item {
            z-index: 10;
            text-align: center;
        }

        #progress {
            -webkit-appearance: none;
            position: absolute;
            width: 95%;
            z-index: 5;
            height: 10px;
            margin-left: 18px;
            margin-bottom: 18px;
        }

        /* to customize progress bar */
        #progress::-webkit-progress-value {
            background-color: orangered;
            transition: 1s ease;
        }

        #progress::-webkit-progress-bar {
            background-color: grey;

        }
    </style>
{% endblock extrastyle %}
{% block content %}

    <div class="container-fluid py-4">

        <!-- START -->
        <header class="pt-5 py-5 mb-5 animated animatedFadeInUp fadeInUp">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                        <!-- Header text content-->
                        <div class="text-center text-xxl-start">
                            <div class="fs-3 fw-light text-muted">Удобный способ конвертации медицинских данных из
                                CBCT-сканеров Sirona GALAXIS/GALILEOS в стандартный формат DICOM.
                            </div>
                            <h1 class="display-3 text-dark fw-bolder mb-5"><span
                                    class="text-dark d-inline">EasyGalileos</span></h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
                                   href="{% url 'upload research' %}"
                                   style="background: linear-gradient(to top right, #e24210, #e21b1d);">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-download p-1 rounded bg-gradient"
                                               style="font-size: 2.4rem; background-color: #ff274c"></i>
                                        </div>
                                        <div class="col-9">
                                            Загрузить исследование
                                        </div>
                                    </div>
                                </a>
                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="projects.html">Как
                                    это работает</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7">
                        <!-- Header profile picture-->
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                            <div class="profile bg-gradient-primary-to-secondary">
                                <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                                <!-- Watch a tutorial on how to do this on YouTube (link)-->
                                <img class="profile-img" src="{{ STATIC_URL }}img/dentist.png" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--Что такое easyDICOM?  -->
        <div class="row pt-5 mt-5 mb-5 ">
            <div class="col-lg-12 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex flex-column h-100">
                                    <h1 class="font-weight-bolder">Что такое easyDICOM?</h1>
                                    <p class="mb-2">EasyDICOM - это мощный, но простой в использовании веб сервис,
                                        который позволяет конвертировать
                                        данные с вашего томографа SIRONA GALILEOS в DICOM-файлы. </p>
                                    <p> DICOM (Digital Imaging and Communications in Medicine) -
                                        это стандарт для хранения и обмена медицинскими изображениями, используемый в
                                        больницах и клиниках по всему миру.</p>
                                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto"
                                       href="javascript:;">
                                        Подробнее
                                        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                                <div class="bg-gradient-primary border-radius-lg h-100">
                                    <img src="{% static 'img/shapes/waves-white.svg' %}"
                                         class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                                    <div class="position-relative d-flex align-items-center justify-content-center h-100">
                                        <img class="w-100 position-relative z-index-2 pt-4"
                                             src="{% static 'img/illustrations/rocket-white.png' %}" alt="rocket">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--STEPPER -->
        <div class="container pt-5 mt-5 mb-5 ">
            <h1 class="mt-5 mb-5">Три простых шага для работы</h1>

            <div class="accordion" id="accordionExample">
                <div class="steps">
                    <progress id="progress" value=0 max=100></progress>
                    <div class="step-item">
                        <button class="step-button text-center " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        </button>
                        <div class="step-title">
                            Шаг 1
                        </div>
                    </div>
                    <div class="step-item">
                        <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        </button>
                        <div class="step-title">
                            Шаг 2
                        </div>
                    </div>
                    <div class="step-item">
                        <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        </button>
                        <div class="step-title">
                            Шаг 3
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="headingOne">
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="card-body">
                            <p><i class="fa fa-file-zipper h4"></i> Создайте архив (zip, rar) с вашим исследованием. Вот
                                одни из самых популярных бесплатных программ для работы с архивами</p>
                            <div class="row">
                                <div class="col-lg-4">
                                    Для Windows:
                                    <ul>
                                        <li><a href="https://www.7-zip.org/a/7z2408-x64.exe">7-ZIP</a></li>
                                        <li><a href="https://www.win-rar.com/predownload.html?&L=4">WinRAR</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    Для Mac OS:
                                    <ul>
                                        <li>
                                            <a href="https://apps.apple.com/ru/app/unzip-one-rar-zip-extractor/id1127253508?mt=12">ZIP/RAR</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    Для Linux:
                                    <ul>
                                        <li><a href="https://cdn.7zip-arhive.ru/7z2201-linux-x64.tar.xz">7-ZIP</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingTwo">

                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="card-body">
                            <a href="{% url 'upload research' %}"><i class="fa fa-cloud-download h4"></i> Загрузите
                                архив в наш сервис</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingThree">

                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionExample">
                        <div class="card-body">
                            <p>Дождитесь результата и получите <a href="{% url 'my research' %}">архив</a> с
                                конвертированным исследованием</p>
                            <p><i class="fa fa-clock"></i> Среднее время обработки 2 минуты</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--YOUTUBE -->
        <div class="col-12 mt-5 mb-5">


            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                </div>
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="position-relative">
                                    <a class="d-block shadow-xl border-radius-xl" href="#">
                                        <img src="{% static 'img/youtube-placeholder.jpg' %}" alt="img-blur-shadow"
                                             class="img-fluid shadow border-radius-xl">
                                    </a>
                                </div>
                                <div class="card-body px-1 pb-0">
                                    <p class="text-gradient text-dark mb-2 text-sm">Intro #0</p>
                                    <a href="javascript:;">
                                        <h5>
                                            Начало
                                        </h5>
                                    </a>
                                    <p class="mb-4 text-sm">
                                        Что такое <b>easyDICOM</b> ?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="position-relative">
                                    <a class="d-block shadow-xl border-radius-xl" href="#">
                                        <img src="{% static 'img/youtube-placeholder.jpg' %}" alt="img-blur-shadow"
                                             class="img-fluid shadow border-radius-xl">
                                    </a>
                                </div>
                                <div class="card-body px-1 pb-0">
                                    <p class="text-gradient text-dark mb-2 text-sm">Job #1</p>
                                    <a href="javascript:;">
                                        <h5>
                                            Job
                                        </h5>
                                    </a>
                                    <p class="mb-4 text-sm">
                                        Как работает система
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="position-relative">
                                    <a class="d-block shadow-xl border-radius-xl" href="#">
                                        <img src="{% static 'img/youtube-placeholder.jpg' %}" alt="img-blur-shadow"
                                             class="img-fluid shadow border-radius-xl">
                                    </a>
                                </div>
                                <div class="card-body px-1 pb-0">
                                    <p class="text-gradient text-dark mb-2 text-sm">Archivers #0</p>
                                    <a href="javascript:;">
                                        <h5>
                                            RAR - ZIP
                                        </h5>
                                    </a>
                                    <p class="mb-4 text-sm">
                                        Какие архиваторы использовать
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="position-relative">
                                    <a class="d-block shadow-xl border-radius-xl" href="#">
                                        <img src="{% static 'img/youtube-placeholder.jpg' %}" alt="img-blur-shadow"
                                             class="img-fluid shadow border-radius-xl">
                                    </a>
                                </div>
                                <div class="card-body px-1 pb-0">
                                    <p class="text-gradient text-dark mb-2 text-sm">Viewers #3</p>
                                    <a href="javascript:;">
                                        <h5>
                                            Modern Viewers
                                        </h5>
                                    </a>
                                    <p class="mb-4 text-sm">
                                        Профессиональные программы для отображения DICOM
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}
    <!-- Stepper JavaScript -->
    <script>
        const stepButtons = document.querySelectorAll('.step-button');
        const progress = document.querySelector('#progress');

        Array.from(stepButtons).forEach((button, index) => {
            button.addEventListener('click', () => {
                progress.setAttribute('value', index * 100 / (stepButtons.length - 1));//there are 3 buttons. 2 spaces.

                stepButtons.forEach((item, secindex) => {
                    if (index > secindex) {
                        item.classList.add('done');
                    }
                    if (index < secindex) {
                        item.classList.remove('done');
                    }
                })
            })
        })
    </script>
{% endblock scripts %}
