{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Исследования{% endblock title %}
{% block extrahead %}
{% endblock extrahead %}
{% block extrastyle %}
{% endblock extrastyle %}
{% block content %}

    <body class="bg-light bg-gradient">
    <div class="container">
        <div class="card col-lg-12 col-md-12">
            <div class="container form">
                {% if research_avail_count > 0 %}
                    <form id="upload_form" class="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="pt-5 pb-5">{% blocktrans %}Загрузить исследование{% endblocktrans %}</h3>

                        <label class="">{% blocktrans %}Загрузите ваше исследование из томографа Galileos в формате .zip
                            или
                            .rar{% endblocktrans %}</label>
                        {% if form.errors %}
                            <div class="col-12 justify-content-center">
                                <div class="alert alert-light alert-dismissible fade show animated animatedFadeInUp fadeInUp"
                                     role="alert">
                                    <span><b>{{ form.errors }}</b></span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </div>
                        {% endif %}
                        <div id="file_input" class="form-control p-3">
                            {{ form.raw_archive }}
                        </div>

                        <div class="form-check form-switch pt-5">
                            {{ form.is_anonymous }}
                            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                   for="flexSwitchCheckDefault1">{% blocktrans %}Анонимизировать данные о
                                пациенте{% endblocktrans %}</label>
                        </div>

                        <div class="form-check form-switch pt-2">
                            {{ form.is_one_file }}
                            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
                                   for="flexSwitchCheckDefault2">{% blocktrans %}Сформировать одним
                                файлом{% endblocktrans %}</label>
                        </div>

                        <button id="submit_btn" type="submit" class="col-lg-4 btn bg-gradient-info mt-3">
                            {% trans "Подтвердить" %}
                        </button>

                        <div id="errorMessages"></div>

                        <!-- Progress Bar start -->
                        {% include 'components/progress_bar.html' %}
                        <!-- Progress Bar end -->

                    </form>
                {% else %}
                    <div class="card-header pb-0 px-3">
                        <h6 class="mb-0">{% blocktrans %}У вас нет доступных конвертаций{% endblocktrans %}</h6>
                    </div>
                    {% include 'includes/pricing.html' %}
                {% endif %}
                {% if research %}
                    <div class="container-fluid mt-5">
                        <h4>{% blocktrans %}Готовые исследования{% endblocktrans %}</h4>
                        <ol>
                            {% for r in research %}
                                <li><a class="" href="/media/{{ r.ready_archive }}">
                                    <p class="bg-gradient-faded-light rounded text-center text-dark text-bold mt-3">
                                        [ {{ r.date_created }} ] [ {{ r }} ] {% blocktrans %}Скачать
                                        архив{% endblocktrans %} <i class="fa fa-download"></i></p></a></li>
                            {% endfor %}
                        </ol>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    </body>

{% endblock content %}
{% block extrascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/progressBar.js' %}"></script>
{% endblock extrascript %}