{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <body class="bg-light bg-gradient">
    <div class="container">
        <div class="card col-12 col-md-8 m-5">
            <div class="container form">
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="m-3">Upload Research</h3>
                    {% if form.errors %}
                        <div class="col-12 justify-content-center">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span><b> <i class="fa fa-check"></i> {{ form.errors }}</b></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        </div>
                    {% endif %}
                    {{ form.raw_archive }}
                    <button type="submit" class="btn btn-primary">Подтвердить</button>

                </form>

                <div>
                    <ol>
                        {% for r in research %}
                            <li><a class="" href="/media/{{ r.ready_archive }}">
                                <p class="bg-secondary rounded text-center">Скачать архив {{ r }}
                                    от{{ r.date_created }}</p></a></li>
                        {% endfor %}
                    </ol>

                </div>

            </div>
        </div>
    </div>

    </body>

{% endblock content %}