{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->
<head>
    <title>
        GalileosPro {% block title %}{% endblock %}
    </title>

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMRJRG93"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <link rel="canonical" href="https://galileos.pro{{ request.path }}">

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NMRJRG93');</script>
    <!-- End Google Tag Manager -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#    <meta name="description"#}
    {#          content="{% blocktranslate %}Преобразование изображений, полученных с помощью томографов Sirona Galileos, в стандартный формат DICOM. Быстрая и точная конвертация, доступная онлайн.{% endblocktranslate %}">#}
    {#    <meta name="keywords"#}
    {#          content="{% blocktranslate %}Sirona Galileos, конвертация, DICOM, изображения, томограф, онлайн, преобразование{% endblocktranslate %}">#}
    {##}
    {#    <meta property="og:title"#}
    {#          content="{% blocktranslate %}Конвертация изображений Sirona Galileos в DICOM - Galileos Pro{% endblocktranslate %}">#}
    {#    <meta property="og:description"#}
    {#          content="{% blocktranslate %}Преобразование изображений, полученных с помощью томографов Sirona Galileos, в стандартный формат DICOM. Быстрая и точная конвертация, доступная онлайн.{% endblocktranslate %}">#}
    {#   #}

    {% block extrahead %}{% endblock extrahead %}

    <meta property="og:image" content="https://galileos.pro/static/img/favicon.png">
    <meta property="og:url" content="https://galileos.pro">
    <meta property="og:site_name" content="Galileos Pro">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>

    <!-- Nucleo Icons -->
    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet"/>

    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'css/soft-ui-dashboard.css' %}" rel="stylesheet"/>
    {#    <link id="pagestyle_dark" href="{% static 'css/dark-theme-core.css' %}" rel="stylesheet"/>#}

    <link href="{% static 'css/widgets.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/fadeInUp.css' %}" rel="stylesheet"/>

    <!-- Fontawesomefree -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    {#    <script type="text/javascript" src="{% static 'cookie_consent/cookiebar.js' %}"></script>#}


    {% block extrastyle %}{% endblock extrastyle %}

</head>

<body class="g-sidenav-show bg-gray-100">
{% if request.user.is_superuser %}
    {% include "includes/sidebar.html" %}
{% endif %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <!-- navigation -->
    {% include "includes/navigation.html" %}

    {% if messages %}
        <div class="m-5 col-md-8 animated animatedFadeInUp fadeInUp">
            {% for message in messages %}

                <div class="alert alert-info alert-dismissible text-white" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock content %}

    <!-- footer -->
    {% include "includes/footer-fullscreen.html" %}

</main>

<!--   Core JS Files   -->
{% include 'includes/scripts.html' %}

{% block scripts %}{% endblock scripts %}

<!-- Github buttons -->
{#<script async defer src="https://buttons.github.io/buttons.js"></script>#}

<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/soft-ui-dashboard.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

{% block extrascript %}{% endblock extrascript %}

</body>
</html>