{% extends "layouts/admin_base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block breadcrumbs %}
    <h1 class="admin-page-title">{% trans 'Панель управления' %}</h1>
{% endblock %}

{% block content %}
    <div class="admin-form-card">
        <div class="pb-2 mb-2 border-bottom">
            <h6 class="mb-1">{% trans 'Recent actions' %}</h6>
            <p class="text-sm text-secondary mb-0">
                <i class="fa fa-arrow-down text-success" aria-hidden="true"></i>
                <span class="font-weight-bold">{% trans 'My actions' %}</span>
            </p>
        </div>
        <div class="timeline timeline-one-side">
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if admin_log %}
                {% for entry in admin_log %}
                    <div class="timeline-block mb-3">
                        <span class="timeline-step">
                            {% if entry.is_addition %}
                                <span class="fa fa-plus-circle text-success text-gradient"></span>
                            {% endif %}
                            {% if entry.is_change %}
                                <span class="fa fa-edit text-warning text-gradient"></span>
                            {% endif %}
                            {% if entry.is_deletion %}
                                <span class="fa fa-trash text-danger text-gradient"></span>
                            {% endif %}
                        </span>
                        <div class="timeline-content">
                            <h6 class="text-dark text-sm font-weight-bold mb-0">
                                {% if entry.content_type %}
                                    {% filter capfirst %}{{ entry.content_type }}{% endfilter %}
                                {% else %}
                                    {% trans 'Unknown content' %}
                                {% endif %}
                            </h6>
                            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ entry.object_repr }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="mb-0 text-secondary">{% trans 'None available' %}</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
