{% load i18n %}
{% load static %}
<br class="mt-5">
<br class="mt-5">
<br class="mt-5">
<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="footer-title">О нас</h5>
                <ul class="footer-list">
                    <li><a href="{% url 'about' %}">{% translate 'О компании' %}</a></li>
                    <li><a href="{% url 'price_info' %}">{% translate 'Цены на услуги' %}</a></li>
                    <li><a href="{% url 'contacts' %}">{% translate 'Контакты' %}</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 class="footer-title">{% translate 'Полезные ссылки' %}</h5>
                <ul class="footer-list">
                    <li><a href="{% url 'faq' %}">{% translate 'Часто задаваемые вопросы' %}</a></li>
                    <li><a href="{% url 'oferta' %}">{% translate 'Условия использования' %}</a></li>
                    <li><a href="{% url 'privacy' %}">{% translate 'Политика конфиденциальности' %}</a></li>
                    <li><a href="{% url 'help' %}">{% translate 'Помощь' %}</a></li>
                    <li><a href="{% url 'sitemap' %}">{% translate 'Карта сайта' %}</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 class="footer-title">{% translate 'Мы принимаем платежи' %}</h5>
                <div class="payment-methods">
                    <img class="m-2" src="{% static 'logos_website/png/visa.png' %}" alt="Visa" width="50">
                    <img class="m-2" src="{% static 'logos_website/png/mastercard.png' %}" alt="Mastercard" width="35">
                    <img class="m-2" src="{% static 'logos_website/png/мир.png' %}" alt="Мир" width="50">
                    <img class="m-2" src="{% static 'logos_website/png/сбп.png' %}" alt="СБП" width="35">
                    <img src="https://yookassa.ru/files/Guide_files/logo-black.svg" alt="ЮКасса" width="50">
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <p class="copyright text-center">© {% now "Y" %} {% translate 'GalileosPro. Все права защищены.' %}</p>
            </div>
        </div>
    </div>
</footer>
