<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4 mx-auto text-center">
                <a href="{% url 'about' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                    О нас
                </a>
                <a href="{% url 'prices' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                    Цены
                </a>
                <a href="{% url 'faq' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                    FAQ
                </a>
                <a href="{% url 'contacts' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                    Контакты
                </a>
                <a href="{% url 'oferta' %}" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                    Публичная оферта
                </a>
            </div>
            <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                    <span class="text-lg fab fa-github"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                    <span class="text-lg fab fa-telegram"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto text-center mt-1">
                <p class="mb-0 text-secondary">
                    &copy; <a href="https://github.com/lizzardarcher" class="text-muted" target="_blank">Lizzard
                    Archer</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->