{% load static %}
<!-- Navbar -->

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 border-radius-xl shadow-none position-sticky mt-4 top-1 z-index-sticky"
     id="navbarBlur" navbar-scroll="true" data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
            <img class="icon icon-md rounded" src="{{ STATIC_URL }}img/dentist.png">
            EasyGalileos
        </a>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
            <ul class="navbar-nav  justify-content-end">

                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'billing' %}" class="nav-link text-body font-weight-bold px-0">
                        <span class="d-sm-inline d-none me-3">Узнать больше</span>
                    </a>
                </li>

                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'prices' %}" class="nav-link text-body font-weight-bold px-0">
                        <span class="d-sm-inline d-none me-3">Цены</span>
                    </a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item pe-2 d-flex align-items-center">

                        <a href="{% url 'profile' %}" class="nav-link text-body font-weight-bold px-0"><span class="d-sm-inline d-none me-3">
                            <i class="fa fa-user fixed-plugin-button-nav cursor-pointer"></i>
                            Личный Кабинет</span>
                        </a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="nav-link text-body font-weight-bold px-0 p-1"
                                    style="  padding: 0;  border: none;  font: inherit;  color: inherit;  background-color: transparent;"
                                    type="submit"><span class="d-sm-inline d-none me-3">Выйти</span>
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item d-flex align-items-center">
                        <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none me-3">Войти</span>
                        </a>
                    </li>
                {% endif %}


                <!-- Переключатель языков -->
                <li class=" nav-item dropdown  d-flex align-items-center">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-globe cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">
                            🇺🇸 Английский
                        </a></li>
                        <li><a class="dropdown-item" href="#">
                            🇷🇺 Русский
                        </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown pe-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                        aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                <div class="d-flex py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            Payment successfully completed
                                        </h6>
                                        <p class="text-xs text-secondary mb-0 ">
                                            <i class="fa fa-clock me-1"></i>
                                            2 days
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item pe-2 d-flex align-items-center">
                    <label for="theme-switch" class="nav-link text-body p-0 m-0">
                        <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
                    </label>
                    <input type="checkbox" class="d-none" id="theme-switch"/>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
