{% load static %}

<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'js/plugins/dragula/dragula.min.js' %}"></script>
<script src="{% static 'js/plugins/jkanban/jkanban.js' %}"></script>

<script src="{% static 'js/plugins/dropzone.min.js' %}"></script>
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
{#<script src="{% static 'js/plugins/multistep-form.js' %}"></script>#}
<script src="{% static 'js/plugins/quill.min.js' %}"></script>

<script src="{% static 'js/dark-theme.js' %}"></script>
<script src="{% static 'js/dark-mode-handler.js' %}"></script>
<script src="{% static 'js/soft-ui-dashboard.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
