{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container mb-5">
        <div class="card m-5 p-5">
            <h3 class="mb-4">
                {% blocktranslate %}
                    Выберите способ оплаты:
                {% endblocktranslate %}
            </h3>
            <div class="card-pricing">
                <div class="row border-secondary-subtle">
                    <div class="col-sm-12 col-md-6 card bg-light">
                        <img class="p-3" src="https://yookassa.ru/files/Guide_files/logo-black.svg"
                             alt="YooKassa" width="250">
                        <div class="card-body">
                            <h5 class="card-title">
                                {% blocktranslate %}
                                    ЮКасса
                                {% endblocktranslate %}
                            </h5>
                            <p class="card-text">
                                {% blocktranslate %}
                                    Подходит для карт выпущенных в РФ и СНГ.
                                {% endblocktranslate %}
                            </p>
                            <a href="{% url 'yookassa_process_payment' %}" class="text-2xl btn">
                                <span style="color:#0e456d">
                                    {% blocktranslate %}
                                        Продолжить
                                    {% endblocktranslate %}
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">

{% endblock content %}
