{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% blocktrans %}О нас{% endblocktrans %} {% endblock title %}
{% block content %}

    <div class="container">

        <h1 class="text-center mb-4">{% blocktrans %}О нас{% endblocktrans %}</h1>

        <section class="section mb-5">
            <h2 class="h4 mb-3">{% blocktrans %}Наша миссия{% endblocktrans %}</h2>
            <p class="lead">{% blocktrans %}Наша команда стремится обеспечить стоматологам и имплантологам удобный и надежный инструмент
                для конвертации данных GALILEOS в формат DICOM. Мы понимаем важность совместимости и стандартизации в
                медицинской сфере, поэтому наша цель - сделать процесс обмена данными максимально простым и
                эффективным.{% endblocktrans %}</p>
        </section>

        <section class="section mb-5">
            <h2 class="h4 mb-3">{% blocktrans %}Наши преимущества{% endblocktrans %}</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>{% blocktrans %}Опыт и компетенция:{% endblocktrans %}</strong> {% blocktrans %}Наша команда состоит из опытных
                    специалистов в области IT и медицины. Мы обладаем глубокими знаниями о работе систем GALILEOS и
                    стандарте DICOM.{% endblocktrans %}
                </li>
                <li class="list-group-item"><strong>{% blocktrans %}Качество и надежность:{% endblocktrans %}</strong> {% blocktrans %}Мы гарантируем высокое качество
                    конвертации данных, сохраняя точность и достоверность информации.{% endblocktrans %}
                </li>
                <li class="list-group-item"><strong>{% blocktrans %}Индивидуальный подход:{% endblocktrans %}</strong> {% blocktrans %}Мы готовы оказать помощь и поддержку
                    в решении любых задач, связанных с конвертацией данных.{% endblocktrans %}
                </li>
            </ul>
        </section>

        <section class="section mb-5">
            <h2 class="h4 mb-3">{% blocktrans %}Наши ценности{% endblocktrans %}</h2>
            <p>{% blocktrans %}В своей работе мы придерживаемся следующих ценностей:{% endblocktrans %}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>{% trans "Клиентоориентированность:" %}</strong> {% blocktrans %}Мы всегда готовы выслушать ваши
                    потребности и найти оптимальное решение для вас.{% endblocktrans %}
                </li>
                <li class="list-group-item"><strong>{% trans "Профессионализм:" %}</strong> {% blocktrans %}Мы стремимся к высочайшим стандартам
                    качества в своей работе.{% endblocktrans %}
                </li>
                <li class="list-group-item"><strong>{% trans "Инновации:" %}</strong> {% blocktrans %}Мы постоянно развиваемся и ищем новые способы
                    улучшения наших услуг.{% endblocktrans %}
                </li>
            </ul>
        </section>

        <section class="section mb-5">
            <h2 class="h4 mb-3">{% blocktrans %}Свяжитесь с нами{% endblocktrans %}</h2>
            <p>{% blocktrans %}Если у вас есть вопросы или вы хотите узнать больше о наших услугах, свяжитесь с нами:{% endblocktrans %}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>{% trans "Телефон:" %}</strong> <a href="tel: +79043834169">+7 904 383 4169</a></li>
                <li class="list-group-item"><strong>{% trans "Почта:" %}</strong> <a href="mailto: galileos@internet.ru">galileos@internet.ru</a>
            </ul>
        </section>

    </div>

{% endblock content %}