{% extends 'layouts/base.html' %}
{% block title %} О нас {% endblock title %}
{% block content %}
    
    <div class="container">

        <h1 class="text-center mb-4">О нас</h1>

        <section class="section mb-5">
            <h2 class="h4 mb-3">Наша миссия</h2>
            <p class="lead">Наша команда стремится обеспечить стоматологам и имплантологам удобный и надежный инструмент для конвертации данных GALILEOS в формат DICOM.  Мы понимаем важность совместимости и стандартизации в медицинской сфере, поэтому наша цель - сделать процесс обмена данными максимально простым и эффективным.</p>
        </section>

        <section class="section mb-5">
            <h2 class="h4 mb-3">Наши преимущества</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Опыт и компетенция:</strong>  Наша команда состоит из опытных специалистов в области IT и медицины. Мы обладаем глубокими знаниями о работе систем GALILEOS и стандарте DICOM.</li>
                <li class="list-group-item"><strong>Качество и надежность:</strong>  Мы гарантируем высокое качество конвертации данных, сохраняя точность и достоверность информации.</li>
                <li class="list-group-item"><strong>Индивидуальный подход:</strong>  Мы готовы оказать помощь и поддержку в решении любых задач, связанных с конвертацией данных. </li>
            </ul>
        </section>

        <section class="section mb-5">
            <h2 class="h4 mb-3">Наши ценности</h2>
            <p>В своей работе мы придерживаемся следующих ценностей:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Клиентоориентированность:</strong> Мы всегда готовы выслушать ваши потребности и найти оптимальное решение для вас.</li>
                <li class="list-group-item"><strong>Профессионализм:</strong>  Мы  стремимся  к  высочайшим  стандартам  качества  в  своей  работе.</li>
                <li class="list-group-item"><strong>Инновации:</strong>  Мы  постоянно  развиваемся  и  ищем  новые  способы  улучшения  наших  услуг.</li>
            </ul>
        </section>

        <section class="section mb-5">
            <h2 class="h4 mb-3">Свяжитесь с нами</h2>
            <p>Если у вас есть вопросы или вы хотите узнать больше о наших услугах, свяжитесь с нами:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Телефон:</strong>  +7 (XXX) XXX-XX-XX</li>
                <li class="list-group-item"><strong>Почта:</strong> info@вашсайт.ru</li>
            </ul>
        </section>

    </div>
    
{% endblock content %}