{% extends 'layouts/base.html' %}
{% block title %}Контакты - Конвертация данных GALILEOS в DICOM{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Свяжитесь с нами</h2>

        <section class="section mb-5">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-3">Наши контакты</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Адрес:</strong> [Вставьте ваш адрес]</li>
                        <li class="list-group-item"><strong>Телефон:</strong> [Вставьте ваш номер телефона]</li>
                        <li class="list-group-item"><strong>Почта:</strong> [Вставьте ваш адрес электронной почты]</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3 class="mb-3">Форма обратной связи</h3>

                    <form method="POST">
                        {% csrf_token %}
                    
                        {% if form.errors %}
                            <div class="col-12 justify-content-center">
                                <div class="alert alert-light alert-dismissible fade show animated animatedFadeInUp fadeInUp"
                                     role="alert">
                                    <span><b>{{ form.errors }}</b></span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </div>
                        {% endif %}

                        {{ form }}

                        <button type="submit" class="col-lg-4 btn bg-gradient-info mt-3">Отправить</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="section mb-5">
            <h3 class="mb-3">Наши социальные сети</h3>
            <div class="d-flex justify-content-center">
                <a href="#" class="me-3"><img src="https://placehold.co/30x30/cccccc/000000?text=VK"
                                              class="rounded-circle" alt="ВКонтакте"></a>
                <a href="#" class="me-3"><img src="https://placehold.co/30x30/cccccc/000000?text=Telegram"
                                              class="rounded-circle" alt="Telegram"></a>
                <a href="#" class="me-3"><img src="https://placehold.co/30x30/cccccc/000000?text=Instagram"
                                              class="rounded-circle" alt="Instagram"></a>
            </div>
        </section>

    </div>

{% endblock content %}