{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans "Вопросы" %} {% endblock title %}
{% block content %}

    <div class="container">

        <h1 class="text-center mb-4">{% blocktrans %}Часто задаваемые вопросы{% endblocktrans %}</h1>

        <section class="section mb-5">
            <div class="accordion" id="accordionFAQ">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {% blocktrans %}Что такое GALILEOS?{% endblocktrans %}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            {% blocktrans %}GALILEOS - это система 3D-планирования для имплантологии, разработанная компанией SIRONA.
                            Она позволяет получить точные 3D-изображения челюсти пациента, которые используются для
                            планирования имплантации.{% endblocktrans %}
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            {% blocktrans %}Как сконвертировать данные?{% endblocktrans %}
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            {% blocktrans %}Загрузите архив с данными в личном кабинете или на главной странице, дождитесь результата.
                            Архив Galileos должен включать в себя директорию ***vol_0, в которой находятся исходные изображения{% endblocktrans %}
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            {% blocktrans %}Зачем нужна конвертация в DICOM?{% endblocktrans %}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            {% blocktrans %}DICOM (Digital Imaging and Communications in Medicine) - это стандартный формат для хранения
                            и обмена медицинскими изображениями. Конвертация данных GALILEOS в DICOM позволяет:{% endblocktrans %}
                            <ul>
                                <li>{% blocktrans %}Совместить данные с другими медицинскими изображениями (например, рентгеновскими
                                    снимками){% endblocktrans %}
                                </li>
                                <li>{% blocktrans %}Использовать данные GALILEOS в программном обеспечении для
                                    планирования имплантации других производителей{% endblocktrans %}
                                </li>
                                <li>{% blocktrans %}Хранить данные в стандартизированном формате для долгосрочного хранения{% endblocktrans %}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            {% blocktrans %}Как работает конвертация?{% endblocktrans %}
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            {% blocktrans %}Конвертация данных GALILEOS в DICOM осуществляется с помощью специального программного
                            обеспечения. Процесс обычно включает в себя следующие шаги:{% endblocktrans %}
                            <ol>
                                <li>{% blocktrans %}Импорт данных GALILEOS{% endblocktrans %}</li>
                                <li>{% blocktrans %}Настройка параметров конвертации{% endblocktrans %}</li>
                                <li>{% blocktrans %}Экспорт данных в формате DICOM{% endblocktrans %}</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            {% blocktrans %}Сколько стоит конвертация?{% endblocktrans %}
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                         data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            {% blocktrans %}Стоимость конвертации зависит от выбранного пакета конвертаций, чем больше, тем дешевле
                            обходится одна конвертация.{% endblocktrans %}
                        </div>
                    </div>
                </div>

            </div>
        </section>
        
        <section class="section mb-5">
            <h2 class="h4 mb-3">{% blocktrans %}Процесс конвертации{% endblocktrans %}</h2>
            <p class="lead">{% blocktrans %}Конвертация данных GALILEOS в формат DICOM - это простой и эффективный процесс, который
                проходит в несколько этапов.{% endblocktrans %} </p>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://placehold.co/100x100/orange/white?text={% trans 'Шаг' %} 1"
                                 class="img-fluid rounded-circle mb-3" alt="Шаг 1">
                            <h5 class="card-title">{% blocktrans %}Архив с данными{% endblocktrans %}</h5>
                            <p class="card-text">{% blocktrans %}Создайте архив (zip, rar) с вашим исследованием.{% endblocktrans %}</p>
                            <h6 class="card-text">{% blocktrans %}Популярные архиваторы:{% endblocktrans %}</h6>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    {% blocktranslate %}Для Windows:{% endblocktranslate %}
                                    <ul>
                                        <li><a href="https://www.7-zip.org/a/7z2408-x64.exe">7-ZIP</a></li>
                                        <li><a href="https://www.win-rar.com/predownload.html?&L=4">WinRAR</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    {% blocktranslate %}Для Mac OS:{% endblocktranslate %}
                                    <ul>
                                        <li>
                                            <a href="https://apps.apple.com/ru/app/unzip-one-rar-zip-extractor/id1127253508?mt=12">ZIP/RAR</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://placehold.co/100x100/orange/white?text={% trans 'Шаг' %} 2"
                                 class="img-fluid rounded-circle mb-3" alt="Шаг 2">
                            <h5 class="card-title">{% blocktrans %}Загрузка данных{% endblocktrans %}</h5>
                            <p class="card-text">{% blocktrans %}Загрузите данные с томографа GALILEOS в наше{% endblocktrans %} <a
                                    href="{% url 'upload research' %}">{% blocktrans %}программное обеспечение{% endblocktrans %}</a>
                                {% blocktrans %}Файлы могут быть загружены с вашего компьютера, флешки или любого другого носителя.{% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://placehold.co/100x100/orange/white?text={% trans 'Шаг' %} 3"
                                 class="img-fluid rounded-circle mb-3" alt="Шаг 3">
                            <h5 class="card-title">{% blocktrans %}Конвертация данных{% endblocktrans %}</h5>
                            <p class="card-text">{% blocktrans %}Наше программное обеспечение быстро и безопасно конвертирует данные
                                GALILEOS в формат DICOM.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4 offset-md-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://placehold.co/100x100/orange/white?text={% trans 'Шаг' %} 4"
                                 class="img-fluid rounded-circle mb-3" alt="Шаг 4">
                            <h5 class="card-title">{% blocktrans %}Загрузка результата{% endblocktrans %}</h5>
                            <p class="card-text">{% blocktrans %}Вы получаете готовые данные в формате DICOM. Файлы можно скачать на ваш
                                компьютер из личного кабинета в разделе исследования. Также по завершении вам будет
                                направлено письмо на
                                указанную при регистрации почту со ссылкой на архив в облаке. Данные хранятся 6
                                месяцев.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
            
        <section class="selected mb-5">
            {% include 'components/media_carousel.html' %}
        </section>

    </div>
{% endblock content %}