{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans "Помощь" %} {% endblock title %}
{% block extrastyle %}
{% endblock extrastyle %}

{% block content %}
    <div class="container">
        <h1>{% trans "Помощь" %}</h1>
        <h3>{% blocktrans %}Программное обеспечение - Конвертер данных Galileos в DICOM{% endblocktrans %}</h3>

        <div class="help-section">
            <h2>{% blocktrans %}Что это за сервис?{% endblocktrans %}</h2>
            <p>{% blocktrans %}Наш сервис позволяет вам легко и быстро конвертировать данные с томографа Galileos в стандартный формат
                DICOM.
                Это делает их доступными для широкого круга программного обеспечения, используемого для визуализации,
                анализа и обработки медицинских изображений.{% endblocktrans %}</p>
        </div>

        <div class="help-section">
            <h2>{% blocktrans %}Как использовать сервис?{% endblocktrans %}</h2>
            <p>{% blocktrans %}Процесс конвертации прост:{% endblocktrans %}</p>
            <ol>
                <li>{% blocktrans %}Загрузите архив с файлами данных Galileos на страницу сервиса. (время загрузки зависит от размера архива){% endblocktrans %}</li>
                <li>{% blocktrans %}Дождитесь окончания конвертации{% endblocktrans %}</li>
                <li>{% blocktrans %}Загрузите полученный DICOM файл из личного кабинета или по ссылке из письма направленного на указанную при регистрации почту{% endblocktrans %}</li>
            </ol>
        </div>

        <div class="help-section">
            <h3>{% blocktrans %}Какие типы файлов Galileos поддерживаются?{% endblocktrans %}</h3>
            <p>{% blocktrans %}Файлы Galileos, как правило, не имеют формата{% endblocktrans %}</p>
            <h3>{% blocktrans %}Есть ли ограничения по размеру файлов?{% endblocktrans %}</h3>
            <p>{% blocktrans %}Максимальный размер загружаемого файла 700 MB.{% endblocktrans %}</p>
            <h3>{% blocktrans %}Есть ли вопросы по использованию сервиса?{% endblocktrans %}</h3>
            <p>{% blocktrans %}Свяжитесь с нами по электронной почте{% endblocktrans %} <a href="mailto: galileos@internet.ru">galileos@internet.ru</a>.</p>
        </div>
    </div>
{% endblock content %}