{% extends 'layouts/base.html' %}
{% block title %} Помощь {% endblock title %}
{% block extrastyle %}
{% endblock extrastyle %}

{% block content %}
    <div class="container">
        <h1>Помощь</h1>
        <h3>Программное обеспечение - Конвертер данных Galileos в DICOM</h3>

        <div class="help-section">
            <h2>Что это за сервис?</h2>
            <p>Наш сервис позволяет вам легко и быстро конвертировать данные с томографа Galileos в стандартный формат
                DICOM.
                Это делает их доступными для широкого круга программного обеспечения, используемого для визуализации,
                анализа и обработки медицинских изображений.</p>
        </div>

        <div class="help-section">
            <h2>Как использовать сервис?</h2>
            <p>Процесс конвертации прост:</p>
            <ol>
                <li>Загрузите архив с файлами данных Galileos на страницу сервиса. (время загрузки зависит от размера архива)</li>
                <li>Дождитесь окончания конвертации</li>
                <li>Загрузите полученный DICOM файл из личного кабинета или по ссылке из письма направленного на указанную при регистрации почту</li>
            </ol>
        </div>

        <div class="help-section">
            <h3>Какие типы файлов Galileos поддерживаются?</h3>
            <p>Файлы Galileos, как правило, не имеют формата</p>
            <h3>Есть ли ограничения по размеру файлов?</h3>
            <p>Максимальный размер загружаемого файла 700 MB.</p>
            <h3>Есть ли вопросы по использованию сервиса?</h3>
            <p>Свяжитесь с нами по электронной почте <a href="mailto: galileos@internet.ru">galileos@internet.ru</a>.</p>
        </div>
    </div>
{% endblock content %}