{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} FAQ {% endblock title %}
{% block content %}

    <div class="container">

        <h1 class="text-center mb-4">Как это работает</h1>

        <section class="section mb-5">
            <h2 class="h4 mb-3">Процесс конвертации</h2>
            <p class="lead">Конвертация данных GALILEOS в формат DICOM - это простой и эффективный процесс, который
                проходит в несколько этапов. </p>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://placehold.co/100x100/orange/white?text=Шаг 1"
                                 class="img-fluid rounded-circle mb-3" alt="Шаг 1">
                            <h5 class="card-title">Архив с данными</h5>
                            <p class="card-text">Создайте архив (zip, rar) с вашим исследованием.</p>
                            <h6 class="card-text">Популярные архиваторы:</h6>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    {% blocktranslate %}Для Windows:{% endblocktranslate %}
                                    <ul>
                                        <li><a href="https://www.7-zip.org/a/7z2408-x64.exe">7-ZIP</a></li>
                                        <li><a href="https://www.win-rar.com/predownload.html?&L=4">WinRAR</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    {% blocktranslate %}Для Mac OS:{% endblocktranslate %}
                                    <ul>
                                        <li>
                                            <a href="https://apps.apple.com/ru/app/unzip-one-rar-zip-extractor/id1127253508?mt=12">ZIP/RAR</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://placehold.co/100x100/orange/white?text=Шаг 2"
                                 class="img-fluid rounded-circle mb-3" alt="Шаг 2">
                            <h5 class="card-title">Загрузка данных</h5>
                            <p class="card-text">Загрузите данные с томографа GALILEOS в наше <a
                                    href="{% url 'upload research' %}">программное обеспечение</a>
                                Файлы могут быть загружены с вашего компьютера, флешки или любого другого носителя.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://placehold.co/100x100/orange/white?text=Шаг 3"
                                 class="img-fluid rounded-circle mb-3" alt="Шаг 3">
                            <h5 class="card-title">Конвертация данных</h5>
                            <p class="card-text">Наше программное обеспечение быстро и безопасно конвертирует данные
                                GALILEOS в формат DICOM.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4 offset-md-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://placehold.co/100x100/orange/white?text=Шаг 4"
                                 class="img-fluid rounded-circle mb-3" alt="Шаг 4">
                            <h5 class="card-title">Загрузка результата</h5>
                            <p class="card-text">Вы получаете готовые данные в формате DICOM. Файлы можно скачать на ваш
                                компьютер из личного кабинета в разделе исследования. Также по завершении вам будет
                                направлено письмо на
                                указанную при регистрации почту со ссылкой на архив в облаке. Данные хранятся 6
                                месяцев.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section mb-5">
            <h2 class="h4 mb-3">Преимущества нашей системы</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Простота:</strong> Наш интерфейс интуитивно понятен и прост в
                    использовании.
                </li>
                <li class="list-group-item"><strong>Скорость:</strong> Конвертация данных происходит быстро, что
                    позволяет вам сэкономить время.
                </li>
                <li class="list-group-item"><strong>Безопасность:</strong> Мы гарантируем безопасность ваших данных.
                </li>
                <li class="list-group-item"><strong>Доступность:</strong> Наша система доступна онлайн 24/7, что
                    позволяет вам конвертировать данные в любое время и в любом месте.
                </li>
            </ul>
        </section>
    </div>



{% endblock content %}