{% extends 'layouts/base.html' %}
{% block title %}Публичная оферта{% endblock title %}

{% block extrastyle %}
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }
    </style>
{% endblock extrastyle %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5">Публичная оферта на оказание услуг по конвертации данных</h1>
        <h2 class="font-weight-bolder text-gradient text-danger text-center">Galileos.pro</h2>

        <p>Настоящая публичная оферта (далее — Оферта) является предложением индивидуального предпринимателя, которую он
            адресует любому физическому или юридическому лицу (далее — Заказчик). Оферта регулирует условия оказания
            услуг по конвертации данных с томографа Galileos/Sirona в формат DICOM.</p>

        <h3>1. Услуги</h3>
        <p>Galileos.pro предоставляет услуги по конвертации данных с томографов Galileos/Sirona в формат DICOM.</p>

        <h3>2. Стоимость услуг</h3>
        <p>Стоимость услуг указана в таблице:</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Пакет конвертаций</th>
                <th scope="col">Количество конвертаций</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Одиночная конвертация</td>
                <td>1</td>
                <td>2$ (200р)</td>
            </tr>
            <tr>
                <td>Пакет из 5 конвертаций</td>
                <td>5</td>
                <td>9$ (200р)</td>
            </tr>
            <tr>
                <td>Пакет из 10 конвертаций</td>
                <td>10</td>
                <td>17$ (200р)</td>
            </tr>
            </tbody>
        </table>

        <h3>3. Порядок оплаты</h3>
        <p>Оплата услуг производится Заказчиком в соответствии с выбранным пакетом конвертаций через доступные на сайте
            методы.</p>

        <h3>4. Заключение договора</h3>
        <p>Данная Оферта считается акцептированной, а договор между Исполнителем и Заказчиком — заключенным, с момента
            осуществления Заказчиком оплаты за пакет конвертаций.</p>

        <h3>5. Порядок возврата</h3>
        <p>В случае, если заказчик не получит свои данные по вине сервиса, то средства будут возвращены заказчику на
            указанный им счёт</p>


        <h3>6. Прочие условия</h3>
        <p>Все услуги оказываются в соответствии с установленными сроками и условиями, о чем Заказчик будет уведомлен
            дополнительно.</p>


        <h3>7. Контакты</h3>
        <p>Для получения дополнительной информации и консультаций, пожалуйста, свяжитесь с нами:</p>
        <ul>
            <li>Email: <a href="mailto: galileos@internet.ru">galileos@internet.ru</a></li>
            <li>Телефон: +7 904 383 4169</li>
        </ul>

        <h3 class="text-center">Благодарим вас за выбор Galileos.pro!</h3>
    </div>
{% endblock content %}
