{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %}{% blocktrans %}Публичная оферта{% endblocktrans %}{% endblock title %}
{% block extrahead %}
    <meta name="description" content="{% blocktranslate %}Публичная оферта на оказание услуг по конвертации данных с galileos viewer в DICOM в сервисе Galileos Pro{% endblocktranslate %}">
    <meta property="og:description" content="{% blocktranslate %}Публичная оферта на оказание услуг по конвертации данных с galileos viewer в DICOM в сервисе Galileos Pro{% endblocktranslate %}">
    <meta name="keywords" content="{% blocktranslate %}Публичная оферта на оказание услуг по конвертации данных Galileos pro, конвертация в DICOM, изображения, томограф, онлайн, преобразование, galileos viewer, DICOM{% endblocktranslate %}">
    <meta property="og:title" content="{% blocktranslate %}Публичная оферта на оказание услуг по конвертации данных Galileos pro{% endblocktranslate %}">
{% endblock extrahead %}
{% block extrastyle %}
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }
    </style>
{% endblock extrastyle %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5">{% blocktrans %}Публичная оферта на оказание услуг по конвертации данных{% endblocktrans %}</h1>
        <h2 class="font-weight-bolder text-gradient text-danger text-center">Galileos.pro</h2>

        <p>{% blocktrans %}Настоящая публичная оферта (далее — Оферта) является предложением индивидуального предпринимателя, которую он
            адресует любому физическому или юридическому лицу (далее — Заказчик). Оферта регулирует условия оказания
            услуг по конвертации данных с томографа Galileos/Sirona в формат DICOM.{% endblocktrans %}</p>

        <h3>1. {% trans "Услуги" %}</h3>
        <p>{% blocktrans %}Galileos.pro предоставляет услуги по конвертации данных с томографов Galileos/Sirona в формат DICOM.{% endblocktrans %}</p>

        <h3>2. {% blocktrans %}Стоимость услуг{% endblocktrans %}</h3>
        <p>{% blocktrans %}Стоимость услуг указана в таблице:{% endblocktrans %}</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">{% blocktrans %}Пакет конвертаций{% endblocktrans %}</th>
                <th scope="col">{% blocktrans %}Количество конвертаций{% endblocktrans %}</th>
                <th scope="col">{% trans "Цена" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% blocktrans %}Одиночная конвертация{% endblocktrans %}</td>
                <td>1</td>
                <td>2$ (200р)</td>
            </tr>
            <tr>
                <td>{% blocktrans %}Пакет из 5 конвертаций{% endblocktrans %}</td>
                <td>5</td>
                <td>9$ (200р)</td>
            </tr>
            <tr>
                <td>{% blocktrans %}Пакет из 10 конвертаций{% endblocktrans %}</td>
                <td>10</td>
                <td>17$ (200р)</td>
            </tr>
            </tbody>
        </table>

        <h3>3. {% blocktrans %}Порядок оплаты{% endblocktrans %}</h3>
        <p>{% blocktrans %}Оплата услуг производится Заказчиком в соответствии с выбранным пакетом конвертаций через доступные на сайте
            методы.{% endblocktrans %}</p>

        <h3>4. {% blocktrans %}Заключение договора{% endblocktrans %}</h3>
        <p>{% blocktrans %}Данная Оферта считается акцептированной, а договор между Исполнителем и Заказчиком — заключенным, с момента
            осуществления Заказчиком оплаты за пакет конвертаций.{% endblocktrans %}</p>

        <h3>5. {% blocktrans %}Порядок возврата{% endblocktrans %}</h3>
        <p>{% blocktrans %}В случае, если заказчик не получит свои данные по вине сервиса, то средства будут возвращены заказчику на
            указанный им счёт{% endblocktrans %}</p>


        <h3>6. {% blocktrans %}Прочие условия{% endblocktrans %}</h3>
        <p>{% blocktrans %}Все услуги оказываются в соответствии с установленными сроками и условиями, о чем Заказчик будет уведомлен
            дополнительно.{% endblocktrans %}</p>


        <h3>7. {% trans "Контакты" %}</h3>
        <p>{% blocktrans %}Для получения дополнительной информации и консультаций, пожалуйста, свяжитесь с нами:{% endblocktrans %}</p>
        <ul>
            <li>{% trans "Телефон:" %} +7 904 383 4169</li>
            <li>{% trans "Почта:" %} <a href="mailto: galileos@internet.ru">galileos@internet.ru</a></li>
        </ul>

        <h3 class="text-center">{% blocktrans %}Благодарим вас за выбор Galileos.pro!{% endblocktrans %}</h3>
    </div>
{% endblock content %}
