{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% trans "Цены на услуги" %} {% endblock title %}
{% block extrastyle %}
{% endblock extrastyle %}

{% block content %}
    <div class="container mt-5">
    <h1 class="text-center mb-4">{% blocktrans %}Цены на услуги{% endblocktrans %}</h1>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">{% trans "Услуга" %}</th>
          <th scope="col">{% trans "Цена" %}</th>
          <th scope="col">{% trans "Описание" %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1 {% trans "конвертация" %}</td>
          <td>2$ (200р)</td>
          <td>1 {% blocktrans %}конвертация файлов Galileos в формат DICOM. Доступ к готовому исследованию 6 месяцев{% endblocktrans %}</td>
        </tr>
      <tr>
          <td>5 {% trans "конвертаций" %}</td>
          <td>9$ (900р)</td>
          <td>5 {% blocktrans %}конвертаций файлов Galileos в формат DICOM. Доступ к готовому исследованию 6 месяцев{% endblocktrans %}</td>
        </tr>
      <tr>
          <td>10 {% trans "конвертаций" %}</td>
          <td>17$ (1700р)</td>
          <td>10 {% blocktrans %}конвертаций файлов Galileos в формат DICOM. Доступ к готовому исследованию 6 месяцев{% endblocktrans %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}