{% extends 'layouts/base.html' %}
{% load i18n %}
{% block title %} {% blocktrans %}Карта сайта{% endblocktrans %} {% endblock title %}
{% block extrahead %}
        <meta name="description" content="{% blocktranslate %}Карта сайта по преобразованиею изображений, полученных с помощью томографов Sirona Galileos, Galileos viewer в стандартный формат DICOM онлайн.{% endblocktranslate %}">
        <meta name="keywords" content="{% blocktranslate %}Карта сайта Galileos pro, конвертация, DICOM, изображения, томограф, онлайн, преобразование{% endblocktranslate %}">
        <meta property="og:title" content="{% blocktranslate %}Карта сайта - Galileos Pro{% endblocktranslate %}">
        <meta property="og:description" content="{% blocktranslate %}Карта сайта по преобразованию изображений, полученных с помощью томографов Sirona Galileos, в стандартный формат DICOM онлайн.{% endblocktranslate %}">
{% endblock extrahead %}
{% block extrastyle %}
{% endblock extrastyle %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h1 class="text-center mt-5 mb-5">{% blocktrans %}Карта сайта{% endblocktrans %}</h1>
        <div class="row">
            <div class="col-md-4">
                <h2>{% trans "Главная" %}</h2>
                <ul class="list-unstyled">
                    <li><a href="/">{% blocktrans %}Главная страница{% endblocktrans %}</a></li>
                    <li><a href="/about">{% blocktrans %}О нас{% endblocktrans %}</a></li>
                    <li><a href="/contacts">{% trans "Контакты" %}</a></li>
                    <li><a href="/price_info">{% trans "Цены" %}</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>{% trans "Помощь" %}</h2>
                <ul class="list-unstyled">
                    <li><a href="/how_it_works">{% blocktrans %}Как это работает{% endblocktrans %}</a></li>
                    <li><a href="/detailed_info">{% blocktrans %}Детальная информация{% endblocktrans %}</a></li>
                    <li><a href="/faq">{% blocktrans %}Часто задаваемые вопросы{% endblocktrans %}</a></li>
                    <li><a href="/help">{% trans "Помощь" %}</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>{% trans "Договор" %}</h2>
                <ul class="list-unstyled">
                    <li><a href="/oferta">{% trans "Оферта" %}</a></li>
                    <li><a href="/privacy">{% blocktrans %}Политика в отношении обработки персональных данных{% endblocktrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br class="m-5">
    <br class="m-5">
    <br class="m-5">
    <br class="m-5">


{% endblock content %}