{% load i18n %}
<div class="card-header pb-0 p-3">
    <div class="row">
        <div class="col-md-8 d-flex align-items-center">
            <h6 class="mb-0">{% blocktranslate %}Информация об исследованиях{% endblocktranslate %}</h6>
        </div>
        <div class="col-md-4 text-end">
            <a href="{% url 'profile_edit' user_id %}">
                <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Редактировать профиль"></i>
            </a>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card mb-4">

        <div class="card-header pb-0">
            <a class="btn btn-primary col-lg-2 col-12"
               href="{% url 'upload research' %}"
               style="background: linear-gradient(to top right, #e24210, #e21b1d);">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-download p-1 rounded bg-gradient"
                           style="font-size: 2.4rem; background-color: #ff274c"></i>
                    </div>
                    <div class="col-9">
                        {% blocktranslate %}Загрузить исследование{% endblocktranslate %}
                    </div>
                </div>
            </a>
            <h6>{% blocktranslate %}Сводная талица{% endblocktranslate %}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            {% blocktranslate %}Дата{% endblocktranslate %}
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            {% blocktranslate %}Ссылка на готовое исследование{% endblocktranslate %}
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            {% blocktranslate %}Статус{% endblocktranslate %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for res in research %}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ res.date_created }}</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% if res.cloud_url %}
                                <a href="{{ res.cloud_url }}">
                                    <p class="text-xs font-weight-bold mb-0">{{ res.ready_archive }}</p>
                                </a>
                                {% else %}
                                <a href="{{MEDIA_URL}}{{ res.ready_archive }}">
                                    <p class="text-xs font-weight-bold mb-0">{{ res.ready_archive }}</p>
                                </a>
                                {% endif %}
                            </td>
                            {% if res.ready_archive %}
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">Готово</span>
                                </td>
                            {% else %}
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-danger">Ошибка</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>