{% load i18n %}
<div class="card-header pb-0 p-3">
    <div class="row">
        <div class="col-md-8 d-flex align-items-center">
            <h6 class="mb-0">{% blocktranslate %}Информация об исследованиях{% endblocktranslate %}</h6>
        </div>
        <div class="col-md-4 text-end">
            <a href="{% url 'profile_edit' user_id %}">
                <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"

                   data-bs-placement="top" title="{% blocktranslate %}Редактировать профиль{% endblocktranslate %}"></i>
            </a>
        </div>
    </div>
</div>

<div class="card-body px-0 pt-0 pb-2">
    <div class="px-3 pb-3">
        <a class="btn btn-brand" href="{% url 'upload research' %}">
            <i class="fa fa-upload me-2"></i>{% blocktranslate %}Загрузить исследование{% endblocktranslate %}
        </a>
    </div>

    <h6 class="px-3 mb-2">{% blocktranslate %}Сводная таблица{% endblocktranslate %}</h6>

    {% include 'accounts/info/partials/research_filters.html' %}

    {% if page_obj %}
        <div class="d-none d-md-block table-responsive">
            <table class="table align-items-center mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">
                        {% blocktranslate %}Дата{% endblocktranslate %}
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        {% blocktranslate %}Исследование{% endblocktranslate %}
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        {% blocktranslate %}Статус{% endblocktranslate %}
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        {% blocktranslate %}Действие{% endblocktranslate %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for res in page_obj %}
                    <tr>
                        <td class="ps-3">
                            <span class="text-sm">{{ res.date_created|date:"d.m.Y, H:i" }}</span>
                        </td>
                        <td>
                            <span class="text-sm font-weight-bold">{{ res.archive_display_name }}</span>
                        </td>
                        <td class="align-middle text-center text-sm">
                            {% include 'accounts/info/partials/research_status_badge.html' with res=res %}
                        </td>
                        <td class="align-middle text-center text-sm">
                            {% include 'accounts/info/partials/research_action.html' with res=res %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center text-secondary text-sm py-4">
                            {% blocktranslate %}Нет исследований с выбранным статусом{% endblocktranslate %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-md-none px-3">
            {% for res in page_obj %}
                {% include 'accounts/info/partials/research_card.html' with res=res %}
            {% empty %}
                <p class="text-center text-secondary text-sm py-4">
                    {% blocktranslate %}Нет исследований с выбранным статусом{% endblocktranslate %}
                </p>
            {% endfor %}
        </div>

        {% include 'accounts/info/partials/research_pagination.html' %}
    {% endif %}
</div>
