<div class="card-header pb-0 p-3">
    <div class="row">
        <div class="col-md-8 d-flex align-items-center">
            <h6 class="mb-0">Информация о проведенных транзакциях</h6>
        </div>
        <div class="col-md-4 text-end">
            <a href="{% url 'profile_edit' user_id %}">
                <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Edit Profile"></i>
            </a>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>Сводная талица</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            Дата
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Сумма
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Валюта
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Статус
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trans in transaction %}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ trans.timestamp }}</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0">{{ trans.amount }}</p>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0">{{ trans.currency }}</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <span class="badge badge-sm bg-gradient-success">Успешно</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>