{% load i18n %}
<div class="card-header pb-0 p-3">
    <div class="row">
        <div class="col-md-8 d-flex align-items-center">
            <h6 class="mb-0">{% blocktranslate %}Информация о проведенных транзакциях{% endblocktranslate %}</h6>
        </div>
        <div class="col-md-4 text-end">
            <a href="{% url 'profile_edit' user_id %}">
                <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Edit Profile"></i>
            </a>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>{% blocktranslate %}Сводная талица{% endblocktranslate %}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            {% blocktranslate %}Дата{% endblocktranslate %}
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            {% blocktranslate %}Сумма{% endblocktranslate %}
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            {% blocktranslate %}Валюта{% endblocktranslate %}
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            {% blocktranslate %}Статус{% endblocktranslate %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trans in transaction %}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ trans.created_at }}</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0">{{ trans.amount }} {{ trans.currency }}</p>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0">{{ trans.payment_id }}</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                {% if trans.status == 'succeeded' %}
                                    <span class="badge badge-success">{{ trans.status }}</span>
                                {% else %}
                                    <span class="badge badge-warning">{{ trans.status }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>