<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
{% load static %}
<style>

    .loader {
        display: none; /* Скрыть по умолчанию */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* Отобразить поверх других элементов */
    }

    .spinner {
        width: 140px;
        height: 140px;
        border: 4px solid #f3f3f3; /* Цвет границы */
        border-radius: 50%;
        border-top-color: #3498db; /* Цвет вращающейся части */
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

</style>
{% if messages %}
    <div class="col-md-6">
        {% for message in messages %}
            <div class="alert alert-success">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span><b> <i class="fa fa-check"></i> {{ message|safe }}</b></span>
            </div>
        {% endfor %}
    </div>
{% endif %}


{% if messages %}
    <div class="col-md-6">
        {% for message in messages %}
            <div class="alert alert-success">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span><b> <i class="fa fa-check"></i> {{ message|safe }}</b></span>
            </div>
        {% endfor %}
    </div>
{% endif %}

<body class="bg-light bg-gradient">
<div class="container">
    <div class="card col-12 col-md-8 m-5">
        <div class="container form">
            <form class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="m-3">Upload Research</h3>
                <div class="form-row mb-3 bg-primary">
                    {{ form.raw_archive }}
                </div>

                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </form>

{#            <div>#}
{#                <button class="btn btn-primary " type="button" disabled id="loadingBtn">#}
{#                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>#}
{#                    <span class="sr-only">Loading...</span>#}
{#                </button>#}
{#            </div>#}

            <div>
                {% for r in research %}
                    <a class="" href="/media/{{ r.ready_archive }}">
                        <p class="bg-success text-light rounded text-center">Скачать архив *{{ r.ready_archive }}* от{{ r.date_created }}</p></a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

</body>
<script>

</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
