<style>

    .loader {
        display: none; /* Скрыть по умолчанию */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* Отобразить поверх других элементов */
    }

    .spinner {
        width: 140px;
        height: 140px;
        border: 4px solid #f3f3f3; /* Цвет границы */
        border-radius: 50%;
        border-top-color: #3498db; /* Цвет вращающейся части */
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

</style>
{% if messages %}
        <div class="col-md-6">
            {% for message in messages %}
                <div class="alert alert-success">
                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="tim-icons icon-simple-remove"></i>
                    </button>
                    <span><b> <i class="fa fa-check"></i> {{ message|safe }}</b></span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
<h1>Hello PI PIPIPI</h1>
<div class="loader" id="loading-indicator">
    <div class="spinner"></div>
</div>

<script>

    // Получить ссылки на элементы
    const loadingIndicator = document.getElementById('loading-indicator');

    // Функция, запускающая анимацию
    function showLoader() {
        loadingIndicator.style.display = 'block';
    }

    // Функция, скрывающая анимацию
    function hideLoader() {
        loadingIndicator.style.display = 'none';
    }

    // Вызов функций перед и после загрузки
    showLoader(); // Показать анимацию перед запросом
    // ... Выполнить запрос к базе данных
    hideLoader(); // Скрыть анимацию после загрузки

</script>