{% extends 'layouts/base.html' %}
{% load i18n %}

{% block content %}

    <div class="container content-center">
        <div class="col-sm-12 col-lg-12">
            <div class="card h-100 p-3">
                <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100 "
                     style="background-image: url('/static/img/colorful-night-bokeh-picjumbo-com.jpg');">
                    <span class="mask bg-gradient-secondary"></span>
                    <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                        <h5 class="text-white font-weight-bolder mb-4 pt-2">
                            {% blocktranslate %}Выберите необходимое количество конвертаций{% endblocktranslate %}
                        </h5>

                        <form method="POST" action="{% url 'yookassa_process_payment' %}">
                            {% csrf_token %}
                            <div class="opacity-9 col-sm-12 col-lg-4 mb-4">
                                {{ form.description }}
                            </div>
                            <button type="submit" class="btn btn-info col-sm-6 col-lg-4 ">
                                {% translate 'Оплатить' %}
                            </button>
                        </form>
                        <p class="text-white">
                            {% blocktranslate %}После оплаты перейдите в личный кабинет для загрузки и конвертации вашего исследования в формат DICOM.{% endblocktranslate %}
                        </p>
                        <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto"
                           href="{% url 'how_it_works' %}">
                            {% translate 'Подробнее' %}
                            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
{% endblock content %}